.NavBar
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  transform: translateY(75%)
  position: relative
  .container
    //padding-right: 30%
    flex-grow: 1
    position: relative
    display: flex
    align-items: center
    justify-content: center
    div
      width: calc(30%)
    span
      color: white
      transform: translateY(-10%)
      //padding: 0 25%
      padding: 0 1rem
      margin: 0 calc(0.5rem + 2.5vw)
      background-color: black
      display: inline-flex
      align-items: center
      font-size: calc(1rem + 0.5vw)

  .container::after
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    background-color: #8C2B2B
    width: 100%
    height: calc(0.2rem + 0.3vw)
    z-index: -1


  .contacts
    color: #8C2B2B
    padding: 0 calc(1rem + 2.5vw)
    background: linear-gradient(134.89deg, #000000 45.03%, rgba(0, 0, 0, 0.0331787) 70.77%, rgba(0, 0, 0, 0) 82.01%, #000000 100%)
    display: inline
    font-size: calc(1rem + 0.5vw)
